---
layout: default
---

<div>
    <form method="POST" action="https://kwes.io/api/foreign/forms/HJm8W3zU8pZO5gGqFcb4"
        class="kwes-form w3-text-theme">
        <div class="w3-row w3-section">
            <div class="w3-col" style="width:50px"><i class="w3-xxlarge fas fa-user"></i></div>
            <div class="w3-rest">
                <input class="w3-input w3-border" name="name" type="text" placeholder="Name" rules="required|alpha_num|max:255">
            </div>
        </div>

        <div class="w3-row w3-section">
            <div class="w3-col" style="width:50px"><i class="w3-xxlarge fas fa-envelope"></i></div>
            <div class="w3-rest">
                <input class="w3-input w3-border" name="email" type="text" placeholder="Email" rules="required|email|max:255">
            </div>
        </div>

        <div class="w3-row w3-section">
            <div class="w3-col" style="width:50px"><i class="w3-xxlarge fas fa-pen"></i></div>
            <div class="w3-rest">
                <textarea class="w3-input w3-border" name="message" placeholder="Message (between 10 and 2000 caracters)" rows="8" rules="required|max:2000|min:10"></textarea>
            </div>
        </div>

        <button class="w3-button w3-block w3-section w3-theme w3-ripple w3-padding" type="Submit">
            <i class="fas fa-play"></i> Send</button>
    </form>
</div>

<script src="https://kwesforms.com/v2/kf-script.js" defer></script>