---
layout: default
---
<script>

    const REFRESH_PERIOD = 30000;

    var idToken = null;

    function toggleGoogleLogin(picture) {
        const googleLogin = document.querySelector("#googleLogin");
        googleLogin.classList.add("w3-hide");
        const loginPicture = document.querySelector("#loginPicture");
        loginPicture.src = picture;
        loginPicture.classList.remove("w3-hide");
    }

    function toggleAuthenticatedItems() {
        const items = document.querySelectorAll(".data-authenticated");
        items.forEach((item) => {
            item.classList.remove("w3-hide");
        });
    }

    async function onGoogleSignIn(response) {
        const JWKS = jose.createRemoteJWKSet(new URL('https://www.googleapis.com/oauth2/v3/certs'));
        const { payload } = await jose.jwtVerify(response.credential, JWKS, {
            issuer: [ "accounts.google.com", "https://accounts.google.com" ],
            audience: "599178223994-vtjh5uq092gq3jk2j452td3v5u7n7ius.apps.googleusercontent.com",
        });
        console.log(payload);
        idToken = response.credential;
        toggleGoogleLogin(payload.picture);
        toggleAuthenticatedItems();
    }

    function startStopContainer(action, card, containers) {
        const url = `/be/rest/${action}Containers.php?containers=${containers}` ;
        const xmlHttp = new XMLHttpRequest();
        xmlHttp.onreadystatechange = function() { 
            if (xmlHttp.readyState == 4) {
                console.log(xmlHttp.responseText);
                if (xmlHttp.status != 200) {
                    console.error(`Error calling ${url}`);
                }
            }
        }
        xmlHttp.open("POST", url, true);
        xmlHttp.setRequestHeader('Authorization', `Bearer ${idToken}`);
        setToggleIcon(card, "fa-spinner");
        xmlHttp.send(null);
    }

    function startCreator(card, containers) {
        return (event) => {
            event.stopPropagation();
            startStopContainer("start", card, containers);
        }
    }
    function stopCreator(card, containers) {
        return (event) => {
            event.stopPropagation();
            startStopContainer("stop", card, containers);
        }
    }

    function navigateTo(url) {
        window.location.href = url;
    }

    function setToggleIcon(card, icon) {
        card.querySelector(".data-toggle-icon").classList.remove("fas", "fa-toggle-on", "fa-toggle-off", "fa-spinner");
        card.querySelector(".data-toggle-icon").classList.add("fas", icon);
    }

    function setCardStatus(card, text, clazz) {
        card.querySelector(".data-go").innerHTML = text;
        card.classList.remove("w3-disabled", "app-card-pointer");
        card.classList.add(clazz);
    }

    function showCheckingIcon(card) {
        card.querySelector(".data-checking-icon").classList.remove("w3-hide");
    }

    function hideCheckingIcon(card) {
        card.querySelector(".data-checking-icon").classList.add("w3-hide");
    }

    function updateActiveStatusSuccess(card, containers) {
        setCardStatus(card, "Go","app-card-pointer");
        if (containers !== "") {
            setToggleIcon(card, "fa-toggle-on");
            card.querySelector(".data-toggle").onclick = stopCreator(card, containers);
        }
    }

    function updateActiveStatusFailure(card, containers) {
        setCardStatus(card, "(Not active)","w3-disabled");
        if (containers !== "") {
            setToggleIcon(card, "fa-toggle-off");
            card.querySelector(".data-toggle").onclick = startCreator(card, containers);
        }
    }

    function updateActiveStatus(checkActiveUrl, card, containers) {
        const xmlHttp = new XMLHttpRequest();
        xmlHttp.onreadystatechange = function() { 
            if (xmlHttp.readyState == 4) {
                hideCheckingIcon(card);
                if (xmlHttp.status == 200) {
                    updateActiveStatusSuccess(card, containers);
                } else {
                    updateActiveStatusFailure(card, containers);
                }
                setTimeout(function() {
                    updateActiveStatus(checkActiveUrl, card, containers);
                }, REFRESH_PERIOD);
            }
        }
        xmlHttp.open("GET", checkActiveUrl, true);
        setTimeout(function() {
            showCheckingIcon(card);
            // This will cause at least a minimal flash of the CheckIcon even in development
            setTimeout(function() {
                xmlHttp.send(null);
            }, 0);
        }, 0);
    }
</script>
<div class="w3-panel">
    <div id="googleLogin" class="w3-right w3-margin">
        <div id="g_id_onload"
            data-client_id="599178223994-vtjh5uq092gq3jk2j452td3v5u7n7ius.apps.googleusercontent.com"
            data-context="signin"
            data-ux_mode="popup"
            data-callback="onGoogleSignIn"
            data-auto_select="true"
            data-itp_support="true">
        </div>

        <div class="g_id_signin"
            data-type="icon"
            data-shape="square"
            data-theme="outline"
            data-text="signin_with"
            data-size="medium">
        </div>
    </div>
    <img id="loginPicture" class="w3-right w3-margin w3-hide" style="width: 32px; height: 32px;" alt="picture"/>
    <p>
        Be patient when accessing these applications, the server is a severely constrained virtual machine and
        it may take up to a few seconds to respond.
    </p>
</div>
<div class="app-cards">
    {% include card.html
        title="Hormiga"
        imageSrcFilename="jsedano_small.jpg"
        imageAlt="hormiga"
        content="<p><b>This very page.</b></p><p>Reference architecture of static page built with <b>Jekyll</b>, styled with W3CSS, coded with Visual Studio Code and deployed using GitLab-CI to Google Compute Engine.</p>"
        gitlabUrl="https://gitlab.com/javier-sedano/hormiga"
        checkActiveUrl="/"
        url="/"
    %}
    {% include card.html
        title="Avispa"
        imageSrcFilename="jsedano_small.jpg"
        imageAlt="avispa"
        content="<p>Reference architecture of page using <b>Strapi Headless CMS and Vue/Nuxt</b>. Same content as Hormiga, with different technologies.</p>"
        gitlabUrl="https://gitlab.com/javier-sedano/avispa"
        checkActiveUrl="/avispa/"
        containers="avispa,avispa-cms"
        url="/avispa/"
    %}
    {% include card.html
        title="Kubos"
        imageSrcFilename="kubos.png"
        imageAlt="kubos"
        content="<p>Kudos-like simple service</p>"
        gitlabUrl="https://gitlab.com/javier-sedano/kubos"
        checkActiveUrl="/kubos/"
        containers="kubos"
        url="/kubos/"
    %}
    {% include card.html
        title="Ballena"
        imageSrcFilename="ballena.png"
        imageAlt="ballena"
        content="<p><b>Java/Spring and Vue</b> reference architecture for a web application with mobile-first responsive design and CI/CD through Docker registry.</p>"
        gitlabUrl="https://gitlab.com/javier-sedano/ballena"
        checkActiveUrl="/ballena/"
        containers="ballena"
        url="/ballena/"
    %}
    {% include card.html
        title="oidc-vue"
        imageSrcFilename="oidc-vue.png"
        imageAlt="oidc-vue"
        content="<p>Simple <b>OpenID Connect client in Vue</b> using KeyCloak as IdP (theoretically it will also work with others) following the Authorization Code Flow with PKCE.</p>"
        gitlabUrl="https://gitlab.com/javier-sedano/oidc-vue"
        checkActiveUrl="/oidc-vue/"
        url="/oidc-vue/"
    %}
    {% include card.html
        title="samlspring"
        imageSrcFilename="samlspring.png"
        imageAlt="samlspring"
        content="<p>Simple <b>SAML client in Spring Boot</b> using KeyCloak as IdP (theoretically it will also work with other IdPs which provide autodiscovery metadata).</p>"
        gitlabUrl="https://gitlab.com/javier-sedano/samlspring"
        url="https://gitlab.com/javier-sedano/samlspring"
    %}
    {% include card.html
        title="Elefante"
        imageSrcFilename="elefante.png"
        imageAlt="elefante"
        content="<p><b>Low-code</b> notes reference application using <b>Caspio</b>.</p>"
        gitlabUrl="https://gitlab.com/javier-sedano/elefante"
        url="https://jsedano.caspio.com/dp/7011a000a7ac34feb1ed4415be49"
    %}
    {% include card.html
        title="Erizo"
        imageSrcFilename="erizo.png"
        imageAlt="erizo"
        content="<p><b>Java/Spring and Vue</b> reference architecture for a web public application with mobile-first responsive design and CI/CD through Docker registry.</p><p>Functionally like Caracol, Vaca and Oruga in a different technology.</p>"
        gitlabUrl="https://gitlab.com/javier-sedano/erizo"
        checkActiveUrl="/erizo/"
        containers="erizo"
        url="/erizo/"
    %}
    {% include card.html
        title="Caracol"
        imageSrcFilename="caracol.png"
        imageAlt="caracol"
        content="<p><b>NodeJs/Express and Vue</b> reference architecture for a web public application with mobile-first responsive design and CI/CD through Docker registry.</p><p>Functionally like Erizo, Vaca and Oruga in a different technology.</p>"
        gitlabUrl="https://gitlab.com/javier-sedano/caracol"
        checkActiveUrl="/caracol/"
        containers="caracol"
        url="/caracol/"
    %}
    {% include card.html
        title="Vaca"
        imageSrcFilename="vaca.png"
        imageAlt="vaca"
        content="<p><b>PHP/Symfony and Vue</b> reference architecture for a web public application with mobile-first responsive design and CI/CD through Docker registry.</p><p>Functionally like Erizo, Caracol and Oruga in a different technology.</p>"
        gitlabUrl="https://gitlab.com/javier-sedano/vaca"
        checkActiveUrl="/vaca/"
        containers="vaca"
        url="/vaca/"
    %}
    {% include card.html
        title="Oruga"
        imageSrcFilename="oruga.png"
        imageAlt="oruga"
        content="<p><b>C# ASP.NET Core and Vue</b> reference architecture for a web public application with mobile-first responsive design and CI/CD through Docker registry.</p><p>Functionally like Erizo, Caracol and Vaca in a different technology.</p>"
        gitlabUrl="https://gitlab.com/javier-sedano/oruga"
        checkActiveUrl="/oruga/"
        containers="oruga"
        url="/oruga/"
    %}
    {% include card.html
        title="Ballena - Tortuga Android"
        imageSrcFilename="ballena.png"
        imageAlt="ballena"
        content="<p>Android Application (wrapper of web app).</p><p><a href='https://play.google.com/store/apps/details?id=com.Odroid.tortuga&pcampaignid=pcampaignidMKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1'><img alt='Get it on Google PlayXX' src='https://play.google.com/intl/en_us/badges/static/images/badges/en_badge_web_generic.png' class='app-no-shadow app-small-image'/></a></p>"
        gitlabUrl="https://gitlab.com/javier-sedano/tortugaandroid"
        url="https://play.google.com/store/apps/details?id=com.Odroid.tortuga"
    %}
    {% include card.html
        title="Ballena Windows Update"
        imageSrcFilename="ballena.png"
        imageAlt="ballena"
        content="<p>Ballena as a Windows Service and automatic updater.</p>"
        gitlabUrl="https://gitlab.com/javier-sedano/ballena/tree/master/deploy/win"
        checkActiveUrl="/ballenaWinUpdate"
        url="/ballenaWinUpdate"
    %}
    {% include card.html
        title="Obfuscate Calendar"
        imageSrcFilename="obfuscate-calendar.png"
        imageAlt="obfuscate-calendar"
        content="<p>Chrome extension to obfuscate the details of appointments in Google Calendar.</p>"
        gitlabUrl="https://gitlab.com/javier-sedano/obfuscate-calendar/-/tree/main"
        url="https://chrome.google.com/webstore/detail/obfuscate-calendar/jnkpkbfoojjocendndbgepfhfgpafgkd?hl=en-GB"
    %}
    {% include card.html
        title="Tortuga"
        imageSrcFilename="tortuga.png"
        imageAlt="tortuga"
        content="<p><b>Java/Spring and Typescript/Angular</b> reference architecture for a web application with mobile-first responsive design and CI/CD through Docker registry.</p>"
        gitlabUrl="https://gitlab.com/javier-sedano/tortuga"
        checkActiveUrl="/tortuga/"
        containers="tortuga"
        url="/tortuga/"
    %}
    {% include card.html
        title="Tortuga Windows Update"
        imageSrcFilename="tortuga.png"
        imageAlt="tortuga"
        content="<p>Tortuga as a Windows Service and automatic updater.</p>"
        gitlabUrl="https://gitlab.com/javier-sedano/tortuga/tree/master/deploy/win"
        checkActiveUrl="/tortugaWinUpdate"
        url="/tortugaWinUpdate"
    %}
    {% include card.html
        title="Tortuga on Kubernetes"
        imageSrcFilename="tortuga.png"
        imageAlt="tortuga"
        content="<p>Tortuga deployed on Google Kubernetes Engine.</p><p>Notice that GKE is a paid service and <b>I may interrupt this deployement at any moment without further notice</b>.</p>"
        gitlabUrl="https://gitlab.com/javier-sedano/tortuga/tree/master/deploy"
        url="https://tortuga-jsedano.duckdns.org"
        disabled="true"
    %}
    {% include card.html
        title="FriendlyHello"
        imageSrcFilename="friendlyhello.png"
        imageAlt="friendlyhello"
        content="<p>FriendlyHello from Docker tutorial.</p>"
        checkActiveUrl="/friendlyhello"
        containers="friendlyhelp"
        url="/friendlyhello"
    %}
    {% include card.html
        title="Gata"
        imageSrcFilename="gata.png"
        imageAlt="gata"
        content="<p><b>Java/Spring and Javascript/AngularJS</b> reference architecture for a web application with mobile-first responsive design and CI/CD through Docker image.</p>"
        gitlabUrl="https://gitlab.com/javier-sedano/gata"
        checkActiveUrl="/gata"
        containers="gata"
        url="/gata"
    %}
</div>