{% if include.disabled == "true" %}
{% assign classes="w3-disabled" %}
{% capture onclick%}onclick=""{% endcapture %}
{% assign go="(Currently disabled)" %}
{% else %}
{% capture onclick%}onclick="navigateTo('{{include.url}}')"{% endcapture %}
{% if include.checkActiveUrl %}
{% assign go="Checking..." %}
{% assign classes="w3-disabled" %}
{% else %}
{% assign go="Go" %}
{% assign classes="app-card-pointer" %}
{% endif %}
{% endif %}
<div id="{{ include.title | slugify }}" class="app-card {{ classes }}" {{ onclick }}>
    {% if include.checkActiveUrl %}
    <script>
        (function() {
        const id = "#{{ include.title | slugify }}"
        const card = document.querySelector(id);
        updateActiveStatus("{{ include.checkActiveUrl }}", card, "{{ include.containers }}");
        })();
    </script>
    {% endif %}
    <header class="w3-container w3-theme-d2 w3-large">
        {{ include.title }}
        {% if include.containers %}
        <a class="data-authenticated data-toggle app-reenabled w3-right w3-hide" ><i class="data-toggle-icon"></i></a>
        {% endif %}
    </header>
    <div class="app-card-body">
        <img src="/assets/resources/{{include.imageSrcFilename}}" alt="{{include.imageAlt}}"
            class="w3-left w3-circle w3-margin-right app-card-img">
        {{ include.content }}
        {% if include.gitlabUrl %}
        <i class='fab fa-gitlab'></i> <a class="app-reenabled w3-large" href='{{include.gitlabUrl}}'>Source</a>
        {% endif %}
    </div>
    <a href="{{include.url}}" class="w3-button w3-block w3-container w3-theme-d2 w3-large w3-display-container">
        <i class="data-checking-icon w3-right w3-display-left w3-margin-left w3-hide fas fa-spinner"></i>
        <span class="data-go">{{ go }}</span>
    </a>
</div>