<head>
  <title>Javier Sedano</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv='Content-Type' content='text/html; charset=utf-8' />
  <meta name="google-site-verification" content="uxNOwP7AKb6vxHh39Xr1ZscWdnmd_Z0uUIgZAfH0ohA" />
  <link rel="stylesheet" href="/assets/w3.css">
  <link rel="stylesheet" href="/assets/theme.css">
  <link rel="stylesheet" href="/assets/fontawesome/css/all.css">
  <link rel="stylesheet" href="/assets/main.css?version={{ site.env.CI_COMMIT_SHORT_SHA | escape }}">
  <link rel="shortcut icon" type="image/png" href="/favicon.jpg">
  <script src="https://accounts.google.com/gsi/client" async></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jose/5.2.2/index.umd.min.js" integrity="sha512-0xaEEnhUZPNyzmHfPGvYZgQlnolecu7E4bgG06c5tnHvEK/6o/rBO49R8D2fnxin9aovKgmd+1Hd74yhmejAFQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script charset="utf-8" src="/assets/js/app.js?version={{ site.env.CI_COMMIT_SHORT_SHA | escape }}"></script>
</head>