<nav class="w3-sidebar w3-bar-block w3-card w3-hide-large w3-hide-medium" id="mySidebar">
  <div class="w3-container w3-theme-d2">
    <span onclick="closeSidebar()" class="w3-button w3-display-topright w3-large" aria-label="Close menu"><i
        class="fas fa-window-close" aria-hidden="true"></i></span>
    <br /><br />
  </div>
  {%- include menu.html -%}
</nav>

<header class="w3-top w3-bar w3-theme-d4">
  <div class="w3-left w3-hide-large w3-hide-medium">
    <button class="w3-bar-item w3-button w3-xlarge w3-hover-theme" aria-label="Menu" onclick="toggleSidebar()"><i
        aria-hidden="true" class='fas fa-bars'></i></button>
  </div>
  <div class="w3-left w3-hide-small">
    {%- include menu.html -%}
  </div>
  <div class="w3-right">
    <a href="/">
      <img class="w3-circle app-header-image" src="/assets/resources/jsedano_small.jpg" alt="avatar" />
    </a>
  </div>
</header>

<script>
  closeSidebar();

  function toggleSidebar() {
    if (document.getElementById("mySidebar").style.display === "block") {
      document.getElementById("mySidebar").style.display = "none";
    } else {
      document.getElementById("mySidebar").style.display = "block";
    }
  }

  function closeSidebar() {
    document.getElementById("mySidebar").style.display = "none";
  }
</script>