{% assign active = "w3-theme-d3" %}

{% assign home_active = "" %}
{% if page.url == "/" %}
{% assign home_active = active %}
{% endif %}
<a class="w3-bar-item w3-button w3-xlarge w3-hover-theme {{ home_active }}" href="/">Home</a>

{% assign description_active = "" %}
{% if page.url == "/description/" %}
{% assign description_active = active %}
{% endif %}
<a class="w3-bar-item w3-button w3-xlarge w3-hover-theme {{ description_active }}" href="/description/">Description</a>

{% assign contact_active = "" %}
{% if page.url == "/contact.html" %}
{% assign contact_active = active %}
{% endif %}
<a class="w3-bar-item w3-button w3-xlarge w3-hover-theme {{ contact_active }}" href="/contact.html">Contact</a>

{% assign private_active = "" %}
{% if page.url == "/private/" %}
{% assign private_active = active %}
{% endif %}
<a class="w3-bar-item w3-button w3-xlarge w3-hover-theme {{ private_active }}" href="/private/">Private</a>
