@charset "utf-8";

$app-w3-screen-width-small: 601px;
$app-w3-screen-width-medium: 993px;
$app-w3-screen-width-large: 1205px;


.app-header-icon {
  margin-top: 13px;
  margin-bottom: 13px;
}
.app-header-image {
  height:52px
}

.app-reenabled {
  pointer-events: all;
  opacity: 1;
}

.app-reenabled:hover {
  cursor: pointer;
}

$app-main-content-width: 1000px;

.app-main-content {
  margin-left: auto;
  margin-right: auto;
  margin-top:52px;
  margin-bottom: 22px;
  max-width: $app-main-content-width;
}

.app-main-content img {
  max-width: 100%;
  box-shadow: 2px 2px 6px 0px;
}

.app-main-content img.app-no-shadow {
  max-width: 100%;
  box-shadow: 0px 0px 0px 0px;
}

.app-main-content img.app-small-image {
  max-height: 65px;
}

.app-main-content pre {
  overflow: auto;
}

.app-cards {
  max-width: $app-main-content-width - 32px;
  margin: 16px auto;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

$app-card-padding: 10px;
$app-card-body-height: 300px;

.app-card {
  box-shadow: 2px 2px 6px 0px;
  padding: $app-card-padding;
}
.app-card-pointer:hover {
  cursor: pointer;
}

.app-card-body {
  padding-top: $app-card-padding;
  height: $app-card-body-height;
}

.app-card-body p {
  margin-top: 0px;
}

.app-card-img {
  width: 92px;
  height: 92px;
}

.app-footer-version {
  font-size: 7px;
  position: absolute;
  bottom: 0;
}

.app-footer-copyright {
  font-size: 10px;
}

@media (min-width:$app-w3-screen-width-small){
  .app-footer-version {
    font-size: 10px;
  }
  
  .app-footer-copyright {
    font-size: 15px;
  }
  
  }
