.w3-theme-l5 {color:#000 !important; background-color:#e7fff9 !important}
.w3-theme-l4 {color:#000 !important; background-color:#afffea !important}
.w3-theme-l3 {color:#000 !important; background-color:#60ffd5 !important}
.w3-theme-l2 {color:#000 !important; background-color:#10ffbf !important}
.w3-theme-l1 {color:#fff !important; background-color:#00c08d !important}
.w3-theme-d1 {color:#fff !important; background-color:#00654a !important}
.w3-theme-d2 {color:#fff !important; background-color:#005a42 !important}
.w3-theme-d3 {color:#fff !important; background-color:#004f3a !important}
.w3-theme-d4 {color:#fff !important; background-color:#004331 !important}
.w3-theme-d5 {color:#fff !important; background-color:#003829 !important}

.w3-theme-light {color:#000 !important; background-color:#e7fff9 !important}
.w3-theme-dark {color:#fff !important; background-color:#003829 !important}
.w3-theme-action {color:#fff !important; background-color:#003829 !important}

.w3-theme {color:#fff !important; background-color:#006e51 !important}
.w3-text-theme {color:#006e51 !important}
.w3-border-theme {border-color:#006e51 !important}

.w3-hover-theme:hover {color:#fff !important; background-color:#006e51 !important}
.w3-hover-text-theme:hover {color:#006e51 !important}
.w3-hover-border-theme:hover {border-color:#006e51 !important}
